{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('qrcode-decode', 'v1.0', [
        'components/InputCard.js',
        'components/ResultCard.js',
        'services/QRDecoder.js'
    ]) }}
    {{
        register_messages(messages, [
            'qrcode-decode/input/images',
            'qrcode-decode/result/no_images',
            'qrcode-decode/result/upload_hint',
            'qrcode-decode/result/decoding',
            'qrcode-decode/result/decode_success',
            'qrcode-decode/result/decode_failed',
            'qrcode-decode/result/copy_all',
            'qrcode-decode/result/copied',
            'qrcode-decode/result/click_to_copy'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
