{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('image-adjust', 'v1.0', [
        'components/InputCard.js',
        'components/ResultCard.js',
        'components/AdjustSetting.js',
        'services/ImageAdjust.js'
    ]) }}
    {{
        register_messages(messages, [
            'image-adjust/input/images',
            'image-adjust/input/settings',
            'image-adjust/setting/grayscale',
            'image-adjust/setting/brightness',
            'image-adjust/setting/contrast',
            'image-adjust/setting/saturation',
            'image-adjust/setting/red',
            'image-adjust/setting/green',
            'image-adjust/setting/blue',
            'image-adjust/setting/reset',
            'image-adjust/result/not_processed',
            'image-adjust/result/upload_hint',
            'image-adjust/result/process_images',
            'image-adjust/result/download',
            'image-adjust/result/download_all'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
