{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('image-batch-crop', 'v1.0', [
        'components/InputCard.js',
        'components/ResultCard.js',
        'components/ImageCropPreview.js'
    ]) }}
    {{
        register_messages(messages, [
            'image-batch-crop/input/images',
            'image-batch-crop/result/no_images',
            'image-batch-crop/result/upload_hint',
            'image-batch-crop/result/crop_size',
            'image-batch-crop/result/wheel_hint',
            'image-batch-crop/result/download',
            'image-batch-crop/result/download_all'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
