{% extends "layout.html" %}
{% from 'helpers.html' import register_tool_assets, register_messages %}

{% block head %}
    {{ register_tool_assets('hanzi-paper', 'v1.0', [
        'components/SettingsCard.js',
        'components/PreviewPanel.js',
        'services/HanziPaperRenderer.js',
    ]) }}
    {{ register_messages(messages, [
        'hanzi-paper/settings/card_title',
        'hanzi-paper/settings/style',
        'hanzi-paper/settings/style_square_grid',
        'hanzi-paper/settings/style_tian_zi_ge',
        'hanzi-paper/settings/style_mi_zi_ge',
        'hanzi-paper/settings/style_horizontal',
        'hanzi-paper/settings/style_vertical',
        'hanzi-paper/settings/cell_size',
        'hanzi-paper/settings/line_color',
        'hanzi-paper/settings/color_black',
        'hanzi-paper/settings/color_blue',
        'hanzi-paper/settings/color_gray',
        'hanzi-paper/settings/color_red',
        'hanzi-paper/settings/color_green',
        'hanzi-paper/settings/color_custom',
        'hanzi-paper/settings/padding_vertical',
        'hanzi-paper/settings/padding_horizontal',
        'hanzi-paper/settings/padding_narrow',
        'hanzi-paper/settings/padding_normal',
        'hanzi-paper/settings/padding_wide',
        'hanzi-paper/settings/orientation',
        'hanzi-paper/settings/orientation_portrait',
        'hanzi-paper/settings/orientation_landscape',
        'hanzi-paper/preview/title',
        'common/print',
        'common/download'
    ]) }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}
