.wrapperStyle .konvajs-content canvas {

        max-width: 100%;
        height: auto;
        display: block;
        background-color: #f8f9fa;

}
.wrapperStyle .konvajs-content {

        touch-action: none;

}
