{% extends "layout.html" %}
{% from 'helpers.html' import register_tool_assets, register_messages %}

{% block head %}
    {{
        register_messages(messages, [
            'image-split/name',
            'image-split/note',
            'image-split/input/upload',
            'image-split/input/settings',
            'image-split/input/images',
            'image-split/result/no_images',
            'image-split/result/upload_hint',
            'image-split/result/process_images',
            'image-split/result/download',
            'image-split/result/download_all',
            'image-split/error/split_failed',
            'image-split/error/load_failed',
            'image-split/result/processing',
            'image-split/result/split_success',
            'image-split/result/split_error',
            'image-split/result/click_to_start',
            'image-split/settings/split_mode',
            'image-split/settings/grid_split',
            'image-split/settings/vertical_split',
            'image-split/settings/horizontal_split',
            'image-split/settings/rows',
            'image-split/settings/columns',
        ])
    }}
    {{ register_tool_assets('image-split', 'v1.0', [
        'components/InputCard.js',
        'components/ResultCard.js',
        'components/SettingForm.js',
        'services/ImageSplitter.js'
    ]) }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    <div id="app" class="mb-5"></div>

{% endblock %}