{% extends "layout.html" %}
{% from 'helpers.html' import register_tool_assets, register_messages %}

{% block head %}
    {{ register_messages(messages, [
        'gif-frames/name',
        'gif-frames/note',
        'gif-frames/preview/title',
        'gif-frames/upload/hint',
        'gif-frames/upload/formats',
        'gif-frames/button/load',
        'gif-frames/button/download',
        'gif-frames/button/copy',
        'gif-frames/button/clear',
        'gif-frames/button/download_all',
        'gif-frames/button/select_all',
        'gif-frames/button/deselect_all',
        'gif-frames/button/download_selected',
        'gif-frames/button/play_selected',
        'gif-frames/button/close',
        'gif-frames/message/processing',
        'gif-frames/message/error',
        'gif-frames/message/copied',
        'gif-frames/message/no_selection',
        'gif-frames/message/downloaded',
        'gif-frames/result/title',
        'gif-frames/result/frame',
        'gif-frames/result/total_frames',
        'gif-frames/result/download_frame',
        'gif-frames/result/copy_frame',
        'gif-frames/slideshow/title',
        'gif-frames/slideshow/loop',
        'gif-frames/slideshow/duration',
        'gif-frames/slideshow/play',
        'gif-frames/slideshow/pause',
        'gif-frames/slideshow/prev',
        'gif-frames/slideshow/next',
        'gif-frames/slideshow/frame',
    ]) }}
    {{ register_tool_assets('gif-frames', 'v1.1', [
        'components/FrameGrid.js',
        'components/SlideshowPlayer.js',
        'services/GifFramesService.js',
    ]) }}
    <link rel="stylesheet" href="{{ url_for('static', filename='gif-frames/gif-frames.css') }}?v1.1">
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>
    {% include 'shared/app.html' %}
{% endblock %}