{% extends "layout.html" %}
{% from 'helpers.html' import register_tool_assets, register_messages %}

{% block head %}
    {{ register_messages(messages, [
        'text-truncate/name',
        'text-truncate/note',
        'text-truncate/input/title',
        'text-truncate/input/placeholder',
        'text-truncate/output/title',
        'text-truncate/options/max_length',
        'text-truncate/options/ellipsis',
        'text-truncate/button/truncate',
        'text-truncate/button/clear',
        'text-truncate/button/load_example',
        'text-truncate/button/copy_all',
        'text-truncate/button/copy_line',
        'text-truncate/message/copied',
        'text-truncate/message/copied_line',
    ]) }}
    {{ register_tool_assets('text-truncate', 'v1.0', [
        'components/InputCard.js',
        'components/OutputCard.js',
        'services/TruncateService.js'
    ]) }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
