{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('image-torn-edge', 'v1.0', [
        'components/ResultCard.js',
        'components/InputCard.js',
        'components/TornEdgeSetting.js',
        'services/ImageTornEdge.js'
    ]) }}
    {{
        register_messages(messages, [
            'image-torn-edge/input/images',
            'image-torn-edge/input/settings',
            'image-torn-edge/setting/intensity',
            'image-torn-edge/setting/roughness',
            'image-torn-edge/setting/edges',
            'image-torn-edge/setting/edge_all',
            'image-torn-edge/setting/edge_top',
            'image-torn-edge/setting/edge_bottom',
            'image-torn-edge/setting/edge_left',
            'image-torn-edge/setting/edge_right',
            'image-torn-edge/setting/shadow_enabled',
            'image-torn-edge/setting/shadow_offset',
            'image-torn-edge/setting/shadow_transparency',
            'image-torn-edge/setting/shadow_blur',
            'image-torn-edge/result/not_processed',
            'image-torn-edge/result/upload_hint',
            'image-torn-edge/result/process_images',
            'image-torn-edge/result/download',
            'image-torn-edge/result/download_all'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
