{% extends "layout.html" %}
{% from 'helpers.html' import register_tool_assets, register_messages %}

{% block head %}
    {{ register_tool_assets('merge-images', 'v1.4', [
        'components/PrepareCard.js',
        'components/ProcessCard.js',
        'components/SettingsForm.js',
    ]) }}
    {{ register_messages(messages, [
        'merge-images/tab/images',
        'merge-images/tab/settings',
        'merge-images/tab/result',
        'merge-images/button/merge',
        'merge-images/button/download',
        'merge-images/status/processing',
        'merge-images/status/click_to_process',
        'merge-images/error/process_failed',
        'merge-images/label/direction',
        'merge-images/direction/horizontal',
        'merge-images/direction/vertical',
        'merge-images/label/final_dimensions',
        'merge-images/setting/merge_direction',
        'merge-images/setting/image_width',
        'merge-images/setting/use_max_width',
        'merge-images/setting/use_min_width',
        'merge-images/setting/use_fixed_width',
        'merge-images/setting/image_height',
        'merge-images/setting/use_max_height',
        'merge-images/setting/use_min_height',
        'merge-images/setting/use_fixed_height',
        'merge-images/setting/margin',
        'merge-images/setting/margin_hint',
        'merge-images/setting/padding',
        'merge-images/setting/padding_hint',
        'merge-images/setting/background_color',
        'merge-images/setting/background_color_hint',
        'merge-images/placeholder/fixed_width',
        'merge-images/placeholder/fixed_height',
        'merge-images/placeholder/margin',
        'merge-images/placeholder/padding'
    ]) }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

    <div class="row row-gap-4 mb-4">
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="h5 mb-0">{{ _('merge-images/how_to_use/title') }}</h2>
                </div>
                <div class="card-body">
                    <ol>
                        <li><strong>{{ _('merge-images/how_to_use/upload_images') }}</strong> {{ _('merge-images/how_to_use/upload_images_desc') }}</li>
                        <li>{{ _('merge-images/how_to_use/merge_direction') }} <strong>{{ _('merge-images/how_to_use/merge_direction_desc') }}</strong></li>
                        <li><strong>{{ _('merge-images/how_to_use/image_dimensions') }}</strong>:
                            <ul class="mt-2 mb-2">
                                <li><strong>{{ _('merge-images/how_to_use/image_dimensions_vertical') }}</strong></li>
                                <li><strong>{{ _('merge-images/how_to_use/image_dimensions_horizontal') }}</strong></li>
                            </ul>
                        </li>
                        <li><strong>{{ _('merge-images/how_to_use/spacing_settings') }}</strong> {{ _('merge-images/how_to_use/spacing_settings_desc') }}</li>
                        <li><strong>{{ _('merge-images/how_to_use/background_color') }}</strong> {{ _('merge-images/how_to_use/background_color_desc') }}</li>
                        <li><strong>{{ _('merge-images/how_to_use/merge_button') }}</strong> {{ _('merge-images/how_to_use/merge_button_desc') }}</li>
                        <li><strong>{{ _('merge-images/how_to_use/download') }}</strong> {{ _('merge-images/how_to_use/download_desc') }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="h5 mb-0">{{ _('merge-images/tips/title') }}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2"><i class="bi bi-info-circle text-primary me-1"></i> {{ _('merge-images/tips/similar_dimensions') }}</li>
                        <li class="mb-2"><i class="bi bi-info-circle text-primary me-1"></i> {{ _('merge-images/tips/formats') }}</li>
                        <li><i class="bi bi-info-circle text-primary me-1"></i> {{ _('merge-images/tips/reorder') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
