{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('image-round-corner', 'v1.0', [
        'components/ResultCard.js',
        'components/InputCard.js',
        'components/RoundCornerSetting.js',
        'services/ImageRoundCorner.js'
    ]) }}
    {{
        register_messages(messages, [
            'image-round-corner/input/images',
            'image-round-corner/input/settings',
            'image-round-corner/setting/mode',
            'image-round-corner/setting/mode_all',
            'image-round-corner/setting/mode_separate',
            'image-round-corner/setting/corner_radius',
            'image-round-corner/setting/four_corners',
            'image-round-corner/setting/top_left',
            'image-round-corner/setting/top_right',
            'image-round-corner/setting/bottom_left',
            'image-round-corner/setting/bottom_right',
            'image-round-corner/result/not_processed',
            'image-round-corner/result/upload_hint',
            'image-round-corner/result/process_images',
            'image-round-corner/result/download',
            'image-round-corner/result/download_all'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
