{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('resize-images', 'v1.2', [
        'components/ResultCard.js',
        'components/InputCard.js',
        'components/ResizeSetting.js',
        'services/ImageResizer.js'
    ]) }}
    {{
        register_messages(messages, [
            'resize-images/input/images',
            'resize-images/input/settings',
            'resize-images/input/sizes',
            'resize-images/input/add_setting',
            'resize-images/setting/by_percent',
            'resize-images/setting/by_pixel',
            'resize-images/setting/scale',
            'resize-images/setting/format',
            'resize-images/setting/width',
            'resize-images/setting/height',
            'resize-images/setting/auto',
            'resize-images/setting/scale_25_smaller',
            'resize-images/setting/scale_50_smaller',
            'resize-images/setting/scale_75_smaller',
            'resize-images/setting/scale_2x_larger',
            'resize-images/setting/scale_3x_larger',
            'resize-images/setting/format_png',
            'resize-images/setting/format_jpg',
            'resize-images/setting/format_webp',
            'resize-images/setting/format_original',
            'resize-images/result/not_processed',
            'resize-images/result/upload_hint',
            'resize-images/result/resize_images',
            'resize-images/result/download_all'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
