.formGroupClass {
margin-bottom: 1rem;
}

.bodyClass {
padding: 0;
}

.tabContentClass {
padding: 1rem;
}

padding: 0.5rem 0.5rem 0.5rem;
    gap: 0.25rem;
    border-bottom: 1px solid #dee2e6;

    button {

        font-size: 0.875rem;
        padding: 0.3rem 0.6rem;
    
}

.navLinkClass {
cursor: pointer;
}

