{% extends "layout.html" %}
{% from "helpers.html" import register_tool_assets, register_messages with context %}

{% block head %}
    {{ register_tool_assets('image-compress', 'v1.0', [
        'components/InputCard.js',
        'components/ResultCard.js',
        'components/CompressSetting.js',
        'services/ImageCompress.js'
    ]) }}
    {{
        register_messages(messages, [
            'image-compress/input/images',
            'image-compress/input/settings',
            'image-compress/setting/quality',
            'image-compress/setting/output_format',
            'image-compress/setting/format_jpeg',
            'image-compress/setting/format_png',
            'image-compress/setting/format_webp',
            'image-compress/setting/format_original',
            'image-compress/result/not_processed',
            'image-compress/result/upload_hint',
            'image-compress/result/compress_images',
            'image-compress/result/download',
            'image-compress/result/download_all',
            'image-compress/result/original_size',
            'image-compress/result/compressed_size',
            'image-compress/result/compression_ratio',
            'image-compress/result/processing'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

{% endblock %}
