{% set url = request.args.get('url', 'https://example.com') %}
{% extends "layout.html" %}
{% from 'helpers.html' import register_messages, register_tool_assets %}

{% block head %}
    {{ register_tool_assets('simple-qrcode', 'v1.2', [
        'components/SettingCard.js',
        'components/PreviewCard.js'
    ]) }}
    {{
        register_messages(messages, [
            'simple-qrcode/settings/title',
            'simple-qrcode/settings/url',
            'simple-qrcode/settings/foreground',
            'simple-qrcode/settings/background',
            'simple-qrcode/settings/generate',
            'simple-qrcode/preview/title',
            'simple-qrcode/preview/download-png',
            'simple-qrcode/preview/download-svg'
        ])
    }}
{% endblock %}

{% block content %}
    {% include 'shared/security_badge.html' %}
    <h1 class="fs-2 mb-4">{{ page_name }}</h1>
    <p class="lead mb-5">{{ page_note }}</p>

    {% include 'shared/app.html' %}

    <div class="row row-gap-4 mb-4">
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="h5 mb-0">{{ _('tool/how_to_use') }}</h2>
                </div>
                <div class="card-body">
                    <ol>
                        <li>{{ _('simple-qrcode/features/enter-url') }}</li>
                        <li>{{ _('simple-qrcode/features/customize-appearance') }}</li>
                        <li>{{ _('simple-qrcode/features/generate-qrcode') }}</li>
                        <li>{{ _('simple-qrcode/features/download-buttons') }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="h5 mb-0">{{ _('tool/bookmarklet') }}</h2>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>{{ _('simple-qrcode/bookmarklet/drag-to-bookmarks') }}</p>
                        <a class="btn btn-outline-primary" href="javascript:document.location='{{ request.url_root }}simple-qrcode?url='+encodeURIComponent(document.location.href);">{{ page_name }}</a>
                        <div class="mt-3 text-muted small">
                            <i class="bi bi-info-circle me-1"></i>
                            {{ _('simple-qrcode/bookmarklet/info-text') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}